/**
 * Mobile
 */

#mobile-menu {

	@media screen and (max-width: $bp__menu-button) {
		padding-left: 20px;
	}
}

.adj-padding {
	@media screen and (max-width: $bp__menu-button) {
		padding: 10px !important;
	}
}

#mobile-widthadj {
	@media screen and (max-width: $bp__menu-button) {
		width: 270px !important;
	}
}

#mobile-pageheader {

	@media screen and (max-width: $bp__menu-button) {
		display: none;
	}
}

#mobile-headermenu {
	display: none;

	a {

		@media screen and (max-width: $bp__menu-button) {
			color: #FFF;
			line-height: 32px !important;
		}
	}
}

#mobile-content {
	width 		: 100%;
	box-sizing 	: border-box;
	padding 	: 1em;

	.single-post &,
	.page-template-page-news & {

		@media screen and (min-width: $bp__tablet) {
			width: 70%;
		}
	}
}

#mobile-timeline {

	@media screen and (min-width: $bp__menu-button + 1) {
		display: none;
	}
}

#disablemap {

	@media screen and (max-width: $bp__menu-button) {
		display: none;
	}
}

.widget-area {
	box-sizing 	: border-box;
	padding 	: 1em;

	@media screen and (min-width: $bp__tablet) {
		width 	: 30%;
		float 	: right;
		padding : 0.5em;
	}

	li {
		list-style 		: none;
		margin 			: 0;
		margin-bottom 	: 1em;
	}
}

.widget-title {
	line-height: 28px !important
}